<div class="modal-content blog-post">

    <div class="modal-header">
        <h4 class="modal-title">Скидка</h4>
    </div>

    <div class="modal-body">

        <form name="form">

            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid }">
                <label>Название скидки:</label>
                <input type="text" name="name" class="form-control" ng-model="$ctrl.discount.name" required>
                <div ng-messages="form.name.$error" class="help-block">
                    <div ng-message="required">Введите название скидки</div>
                </div>
            </div>

            <div class="form-group">
                <label>Услуги:</label>
                <div class="checkbox" ng-repeat="service in $ctrl.services">
                    <label>
                        <input type="checkbox" ng-model="$ctrl.discount.services[service.id]" value="service">{{ '{{ service.name }}' }}
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label>День рождения:</label>
                <select name="birthdayWeek" class="form-control" ng-model="$ctrl.discount.birthdayWeek">
                    <option value="">Нет</option>
                    <option value="before">Неделя до</option>
                    <option value="before">Неделя после</option>
                    <option value="both">Неделя до и после</option>
                </select>
            </div>

            <div class="form-group">
                <label>Телефон:</label>
                <div class="checkbox">
                    <label>
                        <input name="isPhoneRequired" type="checkbox" ng-model="$ctrl.discount.isPhoneRequired">Только если указан телефон
                    </label>
                </div>
                <span>Последнии 4 цифры номера:</span>
                <input type="number" maxlength="4" ng-maxlength="4" name="phoneEnding" class="form-control" ng-model="$ctrl.discount.phoneEnding">
                <div ng-messages="form.phoneEnding.$error" class="help-block">
                    <div ng-message="maxlength">Введите не больше 4 последних цифр номера</div>
                </div>
            </div>

            <div class="form-group">
                <label>Пол:</label>
                <select name="gender" class="form-control" ng-model="$ctrl.discount.gender">
                    <option value="">Нет</option>
                    <option value="m">Мужской</option>
                    <option value="f">Женский</option>
                </select>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.discount.$invalid }">
                <label>Скидка:</label>
                <input type="number" min="0" max="100" name="discount" class="form-control" ng-model="$ctrl.discount.discount" required>
                <div ng-messages="form.discount.$error" class="help-block">
                    <div ng-message="required">Укажите скидку</div>
                    <div ng-message="max">Максимальное значение 100</div>
                    <div ng-message="min">Минимальное значение 0</div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.activatedAt.$invalid }">
                <label>Действительна с:</label>
                <p class="input-group">
                    <input name="activatedAt"
                           type="text"
                           class="form-control"
                           uib-datepicker-popup="{{ '{{ $ctrl.dateFormat }}' }}"
                           is-open="$ctrl.isOpenActivatedAtDatepicker"
                           ng-model="$ctrl.discount.activatedAt"
                           required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.openActivatedAtDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <div ng-messages="form.activatedAt.$error" class="help-block">
                    <div ng-message="required">Укажите дату начала действия скидки</div>
                    <div ng-message="date">Укажите дату в формате YYYY-MM-DD</div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : form.activatedTo.$invalid }">
                <label>Действительна по:</label>
                <p class="input-group">
                    <input name="activatedTo"
                           type="text"
                           class="form-control"
                           uib-datepicker-popup="{{ '{{ $ctrl.dateFormat }}' }}"
                           is-open="$ctrl.isOpenActivatedToDatepicker"
                           ng-model="$ctrl.discount.activatedTo"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.openActivatedToDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                <div ng-messages="form.activatedTo.$error" class="help-block">
                    <div ng-message="date">Укажите дату в формате YYYY-MM-DD</div>
                </div>
            </div>

        </form>

    </div>

    <div class="modal-footer">
        <button ng-click="$dismiss()" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button ng-click="$ctrl.close($ctrl.discount)" type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Сохранить</button>
    </div>

</div>